@import "color.scss";
.about{
	.comm-warp{ padding-bottom:4rem; }
	.comm-h2 { margin-top:2rem; }
	.comm-btn  { margin-top:1rem; }
	.comm-title { margin-top:4rem; }
	.comm-pic { margin:3rem 0 2rem 0; }
	.about-teacher { overflow:hidden; margin-top:2.5rem; }
	.about-teacher-text {
		font-size:1rem; 
		line-height:1.6rem; 
		margin-top:.4rem; color:#333; 
		text-align:center;
	}
	.about-pic { width:47%; margin:0 auto; }
}





