@import "color.scss";

.index{
	.comm-warp{ padding-bottom:4rem; }
	.comm-title  { margin-top:2rem; }
	.comm-pic { margin:3rem auto 2rem; }
}
.index-video { 
	width:96%; margin:3rem auto 0; 
	p { text-align:center; font-size:1.2rem; line-height:2.2rem; }
	video { width:100%; }
}

 .bg{background: #000000;}
 
 h4 {text-align: center;color: #555;font-size: 12px;font-weight: 700;}
 
 .red {color: #f44e51 !important;}
 